{{#*inline "page"}}
<div class="page-content">
	<div class="wrapper">
		<div>
			<ul class="post-list">
				{{#each posts}}
				<li>
					<span class="post-meta">{{created_date_time}}</span>
					<h2><a class="post-link" href="/{{dir}}/{{file_name}}.html">{{title}}</a></h2>
					{{#each tags as |tag|}}<span class="post-tag"><a
							href="/tags/{{tag}}.html">{{tag}}</a></span>{{/each}}
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
{{/inline}}
{{~> (parent)~}}
