{{#*inline "page"}}
<div class="page-content">
	<div class="wrapper">
		<div class="post">
			<header class="post-header">
				<h1 class="post-title">{{post.title}}</h1>
				<p class="post-meta">{{post.created_date_time}}</p>
				{{#each post.tags as |tag|}}<span class="post-tag"><a
						href="/tags/{{tag}}.html">{{tag}}</a></span>{{/each}}
		</div>
		</header>
		<article class="post-content">
			<div class="markup">{{{post.contents}}}</div>
		</article>
	</div>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/inline}}
{{~> (parent)~}}
